# dependencies
node_modules
.pnp
.pnp.js

# testing
coverage

# IDE
.vscode
.idea

#build
build
docker_target
target
styleguide
dockerbuild

# production
dist

#versionInfo
public/version.json

#resources
public/resources

# misc
.DS_Store
.cache
DOCS.md
npm-debug.log*
package-lock.json
